@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

:root {
  --primary-color: #FB8500;
  --secondary-color: #023047;
  --accent1-color: #219EBC;
  --accent2-color: #FFB703;

  --heading-font: "Rubik Mono One", monospace;
  --paragraph-font: "Roboto", sans-serif;

  --nav-background-color: #8ECAE6;
  --nav-link-color: #023047;
  --nav-hover-link-color: #FB8500;
  --nav-hover-background-color: #219EBC;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  
  padding-inline: 5rem;
  background-color: var(--nav-hover-link-color);
}

header img{
  border-radius: 50%;
  padding: 1rem;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  font-family: var(--heading-font);
  color: var(--nav-link-color);
  display: flex;
  justify-content: space-between;
}


nav a {
  border: 2px solid var(--nav-hover-background-color); 
  padding: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history p{
  text-align: center;
}

.adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img {
  width: 10rem;
}
.sociallinks{
  display: flex;
  justify-content: end;
  padding: 2rem;
}

footer {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
}

a img{
  width: 3rem;
}

.sociallinks a {
  border: none;
}

.adv-img {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--nav-hover-background-color);
  width: 100%;
}

p {
  padding: 25px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

h1 {
    text-align: center;
}

h1,h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;

}

.employees {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--nav-hover-background-color);
    width: 100%;
}

.map {
    border: 0;
}

.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information {
    background-color: var(--accent2-color);
    width: 45%;
}
.information h2{
    display: flex;
    justify-content: center;
    color: var(--accent1-color);
}
.form{
    background-color: var(--accent1-color);
    width: 45%;
    margin: 0 auto;
    padding: 5rem;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    gap: 5rem;
}

.form h2{
    display: flex;
    justify-content: center;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  .radio p {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }

  label {
    text-align: right;
    padding-right: 1rem;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

  button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: var(--nav-hover-link-color);
  }

  .message{
    display: flex;
    justify-content: start;
}









