@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

:root {
  --primary-color: #FB8500;
  --secondary-color: #023047;
  --accent1-color: #219EBC;
  --accent2-color: #FFB703;

  --heading-font: "Rubik Mono One", monospace;
  --paragraph-font: "Roboto", sans-serif;

  --nav-background-color: #8ECAE6;
  --nav-link-color: #023047;
  --nav-hover-link-color: #FB8500;
  --nav-hover-background-color: #219EBC;
}

*{padding: 0;
margin: 0;}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-around;
  padding-inline: 5rem;
  background-color: var(--nav-hover-link-color);
}

header img{
  border-radius: 50%;
  padding: 1rem;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  font-family: var(--heading-font);
  color: var(--nav-link-color);
  display: flex;
  justify-content: space-between;
}


nav a {
  border: 2px solid var(--nav-hover-background-color); 
  padding: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.history p{
  text-align: center;
  width: 40rem;
  font-size: 1.5rem;
}

.adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adventure h2{
padding-block: 1rem;

}

figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
}
.sociallinks{
  display: flex;
  justify-content: end;
  padding: 2rem;
}

footer {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
}

a img{
  width: 3rem;
}

.sociallinks a {
  border: none;
}

.adv-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
padding-block: 2rem;
  
  background-color: var(--nav-hover-background-color);
  margin: 0;
  width: 100%;
  
}

p {
  padding: 25px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;

}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.hero h1 {
  display: block;
  text-align: center;
  position: absolute;
  right: 450px;
  bottom: 1300px;

}

.hero div{
  position: absolute;
  display: flex;
  width: fit-content;
  padding: 1rem;
  justify-content: space-between;
  background-color: var(--nav-background-color);
  top: 300px;
  right: 100px;
  
}

.hero div img{
 width: 20rem;
  
}


.hero div article{
 width: 20rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-inline: 1rem;
  
}

.hero div article h4{
 padding-inline: 1rem;
 
   
 }

/* Home Page */
.home-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-hero-img{
width: 100%;
}

.home-hero figcaption{
  font-size: 4rem;
  transform: translateY(-50rem);
  color: var(--nav-background-color);
  }



  .user-section{

    display: flex;
    justify-content: space-around;
  }



  .user-section form{
    background-color: var(--accent1-color);
    width: 20%;
   
    padding: 2rem;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    gap: 5rem;


  }

  .user-section form label{
    color: var(--primary-color);
   

  }

fieldset {
    display: grid;
    grid-gap: 2rem;
    margin: 1rem;
    border:none;
    padding: 1rem;
  }

  fieldset button {
 padding: 0.5rem;
 font-size: 1.5rem;
 background-color: var(--primary-color);
 color: var(--nav-link-color);
 border: none;
 border-radius: 3rem;
  }

  fieldset button:hover {
   transition: .3s;
    background-color: var(--nav-link-color );
    color: var(--primary-color);
   
     }

  .radio p {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }

  label {
    text-align: right;
    padding-right: 1rem;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }



  .offerts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offerts figure img{
   width: 40rem;
  }



  .grid-sctn{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;


  }


  .grid-sctn img{
   width: 30rem;
   border-radius: 2rem;


  }

  .grid-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-text p{
    text-align: center;
    width: 20rem;
  }



/* Trip Page */
.trip-hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.trip-hero figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trip-hero figure img{
  width: 100%;
}

.cap-hero{
  color: var(--nav-background-color);
  
  font-size: 3rem;
transform: translateY(-34rem);
background-color: var(--nav-hover-link-color);
}

figcaption{
  font-family: var(--heading-font);
  color: var(--secondary-color);
  
}

.trip-hero a{
  margin: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
  font-family: var(--heading-font);

}

.trip-hero a:hover {
  background-color: var(--nav-hover-background-color);
  transition: .3s;
}


.trip-options{
  padding-block: 4rem;
  display: flex;
  justify-content: space-around;
}

.trip-options figure{
display: flex;
flex-direction: column;
align-items: center;
  }

.trip-options figure img{
width: 20rem;
height: 20rem;
border-radius: 1rem;
}


.table-stn{


  display: flex;
  justify-content: center;
  padding: 2rem;
}


table {
  border-collapse: collapse;
  border: 2px solid var(--nav-link-color);
  font-family: var(--paragraph-font);
  font-size: 1rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: 700;
	 font-style: italic;
   color: var(--secondary-color);
}

thead,
tfoot {
  background-color: var(--nav-background-color);
}

thead th {
	background-color: var(--primary-color);
	color: var(--nav-link-color);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}




/* ABOUT US PAGE */